@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.progress-bar.-step {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: transparent;
}

.progress-bar.-step small {
  position: absolute;
  color: #F6F8F7;
  z-index: 1;
  font-size: larger;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar.-step div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar.-step div span {
  position: absolute;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: #0D182E;
  color: transparent;
}

.progress-bar.-step .rotate {
  clip: rect(0 50px 100px 0);
  background-color: #4b86db;
}

.progress-bar.-step .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.progress-bar.-step .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #0D182E;
  position: relative;
}

p.paragraph {
  text-indent: 2rem;
}

@media only screen and (min-width: 768px) {
  p.paragraph {
    text-indent: 4rem;
  }
}

.h1, .h2, .h3, .badge-date, .small, .title {
  line-height: 1.5;
}

.h1 {
  font-size: 48px;
}

@media only screen and (max-width: 767.98px) {
  .h1 {
    font-size: 40px;
  }
}

.h2 {
  font-size: 40px;
}

@media only screen and (max-width: 767.98px) {
  .h2 {
    font-size: 24px;
  }
}

.h3 {
  font-size: 32px;
}

.title {
  font-size: 24px;
  line-height: 1.3;
}

@media only screen and (max-width: 991.98px) {
  .title {
    font-size: 16px;
    font-weight: bold;
  }
}

.body {
  font-size: 16px;
  line-height: 1.5;
}

.badge-date {
  font-size: 14px;
}

.small {
  font-size: 12px;
}

.font-primary {
  color: #5372DF;
}

.btn-winner-primary {
  color: #F6F8F7;
  background-color: #0692DF;
  border-color: #0692DF;
  border-radius: .5rem;
}

.btn-winner-primary.-width {
  width: 40%;
}

@media only screen and (min-width: 1280px) {
  .btn-winner-primary.-width {
    width: 30%;
  }
}

.btn-winner-primary:hover {
  color: #F6F8F7;
  background-color: #056EA8;
  border-color: #056EA8;
}

.btn-winner-primary:focus {
  color: #F6F8F7;
  box-shadow: 0 0 0 0.2rem rgba(5, 110, 168, 0.5);
}

.btn-winner-primary.disabled {
  background-color: #788993;
  border-color: #788993;
  opacity: 1;
}

.btn-winner-outline-primary {
  color: #F6F8F7;
  border-color: #F6F8F7;
  border-radius: .5rem;
}

.btn-winner-outline-primary.-width {
  width: 40%;
}

@media only screen and (min-width: 1280px) {
  .btn-winner-outline-primary.-width {
    width: 30%;
  }
}

.btn-winner-outline-primary:hover {
  color: #F6F8F7;
  background-color: #056EA8;
  border-color: #056EA8;
}

.btn-winner-outline-primary:focus {
  color: #F6F8F7;
  box-shadow: 0 0 0 0.2rem rgba(5, 110, 168, 0.5);
}

.btn-winner-outline-primary.disabled {
  border-color: #788993;
  opacity: 1;
}

.btn-winner-outline-secondary {
  color: #0692DF;
  border-color: #0692DF;
  border-radius: .5rem;
}

.btn-winner-outline-secondary.-width {
  width: 40%;
}

@media only screen and (min-width: 1280px) {
  .btn-winner-outline-secondary.-width {
    width: 30%;
  }
}

.btn-winner-outline-secondary:focus {
  color: #0692DF;
  box-shadow: 0 0 0 0.2rem rgba(5, 110, 168, 0.5);
}

.btn-winner-outline-secondary:hover {
  color: #F6F8F7;
  background-color: #056EA8;
  border-color: #056EA8;
}

.btn-winner-accent {
  color: #F6F8F7;
  background-color: #CB3F58;
  border-radius: .5rem;
}

.btn-winner-accent:focus {
  color: #F6F8F7;
  box-shadow: 0 0 0 0.2rem rgba(203, 63, 88, 0.5);
}

.btn-winner-accent:hover {
  color: #F6F8F7;
  background-color: #bd334c;
}

.radius {
  border-radius: 8px;
}

.blue {
  background-color: #5372DF;
}

.nav-tabs {
  border-bottom: 2px solid #5372DF;
}

.nav-tabs .nav-link.-bg-first {
  transition: none;
}

.nav-tabs .nav-link.-bg-first:hover {
  border: 1px solid transparent;
}

.nav-tabs .nav-link.-bg-first.active {
  color: #F6F8F7;
  background-color: #5372DF;
  border-color: #5372DF;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.nav-tabs .nav-link.-bg-first.active::after {
  content: "";
  background-image: url(https://static.ch7.com/images/thewinner_2022/border-blue.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: -25px;
  bottom: 0px;
  width: 40px;
  height: 24px;
  transition: opacity 1s ease-in-out;
}

.nav-tabs .nav-link.-bg-second {
  transition: none;
}

.nav-tabs .nav-link.-bg-second:hover {
  border: 1px solid transparent;
}

.nav-tabs .nav-link.-bg-second.active {
  color: #F6F8F7;
  background-color: #5372DF;
  border-color: #5372DF;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.nav-tabs .nav-link.-bg-second.active::after {
  content: "";
  background-image: url(https://static.ch7.com/images/thewinner_2022/border-blue-reverse.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -25px;
  bottom: 0px;
  width: 40px;
  height: 24px;
  transition: opacity 1s ease-in-out;
}

.fit-img .col-md-6 img, .fit-img .col-xl-4 img, .fit-img .col-md-4 img, .fit-img .col-xl-3 img, .fit-img .col-6 img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.fit-img .col-xl-4 img, .fit-img .col-md-6 img {
  width: 300px;
  height: 300px;
}

.fit-img .col-xl-3 img, .fit-img .col-md-4 img {
  width: 240px;
  height: 240px;
}

@media only screen and (max-width: 575.98px) {
  .fit-img .col-xl-3 img, .fit-img .col-md-4 img {
    width: 120px;
    height: 120px;
  }
}

.container-fluid.-width, .container.-width {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container-fluid.-width, .container.-width {
    width: 80%;
  }
}

@media only screen and (min-width: 1280px) {
  .container-fluid.-width, .container.-width {
    width: 100%;
  }
}

.-width {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .-width {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .-width {
    width: 75%;
  }
}

.header-containaer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
  .header-containaer {
    gap: 3rem;
  }
}

.header-containaer .info-header {
  width: 67%;
}

@media only screen and (min-width: 1440px) {
  .header-containaer .info-header {
    width: auto;
  }
}

.form-group {
  margin-bottom: 1.25rem;
}

.form-group .text-danger {
  color: #FF0000 !important;
}

.form-select {
  border-radius: 0.25rem !important;
}

.form-select:disabled {
  background-color: #CACACA;
  border: 1px solid #CACACA;
  color: #2F2E36;
}

.form-select.is-invalid {
  border: 2px solid #FF0000 !important;
}

.form-control.is-invalid {
  border: 2px solid #FF0000 !important;
}

.form-control.-otp-number {
  width: 60px;
  height: 80px;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
}

.form-control.-otp-number.is-invalid {
  padding: inherit;
  background-image: none;
}

.form-control:disabled {
  background-color: #CACACA;
  border: 1px solid #CACACA;
  color: #8C8C8C;
}

.form-control.-date-input {
  display: inline-flex;
}

.form-check-input.-custom {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0;
  background-color: transparent;
  border: 1px solid #F6F8F7;
}

.position-relative.is-invalid {
  border: 2px dashed #FF0000;
}

@media only screen and (min-width: 768px) {
  .phone-forgot-content .form-control {
    width: 70%;
  }
}

.phone-forgot-content .text-danger {
  display: block;
}

@media only screen and (min-width: 768px) {
  .phone-forgot-content .text-danger {
    width: 70%;
  }
}

.invalid-feedback {
  color: #FF0000;
}

.ratio img.img-fit {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.ratio.ratio-16x9::before {
  background-color: transparent;
  width: 100%;
}

.ratio.ratio-3x4 {
  --bs-aspect-ratio: calc(4 / 3 * 100%);
  -webkit-appearance: none;
}

.ratio.ratio-3x4.-icon::after {
  content: "";
  background: url(https://static.ch7.com/images/thewinner_2022/add-image.svg);
  width: 42px;
  height: 42px;
  bottom: -10px;
  right: -10px;
  position: absolute;
  z-index: 1;
}

.ratio.-preview {
  border: none;
}

.ratio-upload {
  border: 1px dashed #F6F8F7;
  border-radius: 0.5rem;
  position: relative;
}

.ratio-upload.-success {
  border: none;
}

.ratio-upload.is-invalid {
  border: 1px dashed #FF0000;
}

.ratio-upload.-video video {
  width: 100%;
  height: auto;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-container .input-browse {
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.upload-container.-success .img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.upload-container.-success .icon-width {
  display: none;
}

.upload-container.-success .title {
  display: none;
}

.upload-container.-success .sub-title {
  display: none;
}

.upload-container.-success .input-browse {
  display: none;
}

.upload-state-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.5rem 0 0;
  padding: 0;
  width: 100%;
}

.upload-state-container .btn-cancel {
  display: none;
}

.upload-state-container .btn-delete {
  display: none;
}

.upload-state-container .name-file small {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 1.5rem;
}

.upload-state-container.-img {
  justify-content: center;
}

.upload-state-container.-img .img-file {
  display: none;
}

.upload-state-container.-img .name-file {
  display: none;
}

.upload-state-container.-img .progress-container {
  width: 10rem;
}

.upload-state-container.-video .control-left {
  display: flex;
  align-items: center;
}

.upload-state-container.-video .control-right {
  display: flex;
  align-items: center;
}

.upload-state-container.-video .img-file {
  display: block;
}

.upload-state-container.-video .name-file {
  max-width: 7rem;
}

.upload-state-container.-loading .btn-cancel {
  display: block;
}

.upload-state-container.-success .progress-container .info-progress {
  display: none;
}

.upload-state-container.-success .progress {
  display: none;
}

.upload-state-container.-success .btn-delete {
  display: block;
}

.icon-width {
  width: 24px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .icon-width {
    width: calc(24px + 2vw);
    height: auto;
  }
}

.img-width {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .img-width {
    width: 25%;
  }
}

.icon-color {
  filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(194deg) brightness(106%) contrast(104%);
}

.btn-bottom-container {
  margin-top: 3rem;
}

.btn-bottom-container .bg-color {
  background-color: #0D182E;
}

@media only screen and (min-width: 1280px) {
  .btn-bottom-container .bg-color {
    background-color: transparent;
  }
}

.btn-bottom-container .bg-color.position-button {
  position: fixed;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 1030;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-bottom-container .bg-color.position-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-bottom-container .bg-color.position-button {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (min-width: 1280px) {
  .btn-bottom-container .bg-color.position-button {
    position: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bg-image {
  background-image: url(https://static.ch7.com/images/thewinner_2022/the-winner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media only screen and (max-width: 1199.98px) {
  .bg-image {
    display: none;
  }
}

.bg-hilight {
  background-image: url(https://static.ch7.com/images/thewinner_2022/bg-hilight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.radius {
  border-radius: .5rem;
}

.link-color {
  color: #E7A704;
}

.progress-container {
  margin: 0 0.75rem;
  text-align: center;
}

.progress-container .progress.-upload {
  height: 0.35rem;
}

.bg-dark.-custom {
  background-color: rgba(54, 63, 76, 0.2) !important;
}

.bg-dark.-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.group-info {
  color: #50DDFC;
  border-left: 3px solid #50DDFC;
  background-color: rgba(80, 221, 252, 0.1);
}

.border-gradient {
  position: relative;
  background: #0D182E;
  background-clip: padding-box;
  border: 5px solid transparent;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(166deg, #2A749E 0%, rgba(143, 228, 255, 0.94) 44.36%, #002EA5 100%);
}
/*# sourceMappingURL=main.css.map */