@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sukhumvit Set";
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot");
  /* IE9 Compat Modes */
  src: url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2") format("woff2"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff") format("woff"), url("https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.progress-bar {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: transparent;
}

.progress-bar small {
  position: absolute;
  color: #F6F8F7;
  z-index: 1;
  font-size: larger;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar div {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.progress-bar div span {
  position: absolute;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 25px;
  line-height: 75px;
  height: 75px;
  width: 75px;
  left: 12.5px;
  top: 12.5px;
  text-align: center;
  border-radius: 50%;
  background-color: #0D182E;
  color: transparent;
}

.progress-bar .rotate {
  clip: rect(0 50px 100px 0);
  background-color: #4b86db;
}

.progress-bar .left {
  clip: rect(0 50px 100px 0);
  opacity: 1;
  background-color: #b3cef6;
}

.progress-bar .right {
  clip: rect(0 50px 100px 0);
  transform: rotate(180deg);
  opacity: 0;
  background-color: #4b86db;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #0D182E;
  position: relative;
}

.btn-winner-primary {
  color: #F6F8F7;
  background-color: #0692DF;
  border-color: #0692DF;
  border-radius: .5rem;
}

.btn-winner-primary.-width {
  width: 40%;
}

@media only screen and (min-width: 1280px) {
  .btn-winner-primary.-width {
    width: 30%;
  }
}

.btn-winner-primary:hover {
  color: #F6F8F7;
  background-color: #056EA8;
  border-color: #056EA8;
}

.btn-winner-primary:focus {
  color: #F6F8F7;
  box-shadow: 0 0 0 0.2rem rgba(5, 110, 168, 0.5);
}

.btn-winner-outline-primary {
  color: #F6F8F7;
  border-color: #F6F8F7;
  border-radius: .5rem;
}

.btn-winner-outline-primary.-width {
  width: 40%;
}

@media only screen and (min-width: 1280px) {
  .btn-winner-outline-primary.-width {
    width: 30%;
  }
}

.btn-winner-outline-primary:hover {
  color: #F6F8F7;
  background-color: #056EA8;
  border-color: #056EA8;
}

.btn-winner-outline-primary:focus {
  color: #F6F8F7;
  box-shadow: 0 0 0 0.2rem rgba(5, 110, 168, 0.5);
}

.container-fluid.-width, .container.-width {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container-fluid.-width, .container.-width {
    width: 80%;
  }
}

@media only screen and (min-width: 1280px) {
  .container-fluid.-width, .container.-width {
    width: 100%;
  }
}

.header-containaer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
}

@media only screen and (min-width: 768px) {
  .header-containaer {
    gap: 3rem;
  }
}

.header-containaer .info-header {
  width: 67%;
}

@media only screen and (min-width: 1440px) {
  .header-containaer .info-header {
    width: auto;
  }
}

.needs-validation.was-validated .form-control:invalid {
  border-color: #FF0000 !important;
  border: 2px solid #FF0000;
}

.needs-validation.was-validated .form-control:valid {
  border-color: #13C225 !important;
  border: 2px solid #13C225;
}

.needs-validation.was-validated .form-check .form-check-label {
  color: #13C225;
}

.needs-validation.was-validated .form-select:invalid {
  border-color: #FF0000 !important;
  border: 2px solid #FF0000;
}

.needs-validation.was-validated .form-select:valid {
  border-color: #13C225 !important;
  border: 2px solid #13C225;
}

.form-check-input.-custom {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0;
  background-color: transparent;
  border: 1px solid #F6F8F7;
}

.form-select {
  border-radius: 0.25rem !important;
}

.form-select:disabled {
  background-color: #ADADAD;
  border: 1px solid #ADADAD;
  color: #2F2E36;
}

.form-control.-otp-number {
  width: 60px;
  height: 80px;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
}

.form-control:disabled {
  background-color: #ADADAD;
  border: 1px solid #ADADAD;
  color: #2F2E36;
}

.form-control.-date-input {
  display: inline-flex;
}

.invalid-feedback {
  color: #FF0000;
}

.ratio img.img-fit {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.ratio.ratio-16x9::before {
  background-color: #000;
  width: 100%;
}

.ratio.ratio-3x4 {
  --bs-aspect-ratio: calc(4 / 3 * 100%);
  -webkit-appearance: none;
}

.ratio.ratio-3x4.-icon::after {
  content: "";
  background: url(../images/add-image.svg);
  width: 42px;
  height: 42px;
  bottom: -10px;
  right: -10px;
  position: absolute;
  z-index: 1;
}

.icon-width {
  width: 24px;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .icon-width {
    width: calc(24px + 2vw);
    height: auto;
  }
}

.img-width {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .img-width {
    width: 25%;
  }
}

.icon-color {
  filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(194deg) brightness(106%) contrast(104%);
}

.border.-radius {
  border-radius: .5rem;
  border-style: dashed !important;
}

.btn-bottom-container {
  margin-top: 3rem;
}

.btn-bottom-container .bg-color {
  background-color: #0D182E;
}

@media only screen and (min-width: 1280px) {
  .btn-bottom-container .bg-color {
    background-color: transparent;
  }
}

.btn-bottom-container .bg-color.position-button {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media only screen and (min-width: 768px) {
  .btn-bottom-container .bg-color.position-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .btn-bottom-container .bg-color.position-button {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (min-width: 1280px) {
  .btn-bottom-container .bg-color.position-button {
    position: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bg-image {
  background-image: url(../images/the-winner-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media only screen and (max-width: 1199.98px) {
  .bg-image {
    display: none;
  }
}

.radius {
  border-radius: .5rem;
}

.link-color {
  color: #E7A704;
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(32%) hue-rotate(151deg) brightness(107%) contrast(107%);
}
/*# sourceMappingURL=main.css.map */