$primary-01 : #0D182E;
$primary-02 : #0692DF;
$primary-03 : #056EA8;
$primary-04 : #5372DF;
$accent : #CB3F58;
$secondary : #E7A704;
$secondary-02 : #50DDFC;


$gray-01 : #0A0A0A;
$gray-02 : #262626;
$gray-03 : #2F2E36;
$gray-04 : #8C8C8C;
$gray-05 : #ADADAD;
$gray-06 : #E8E8E8;
$gray-07 : #ffffff;
$gray-08 : #CACACA;
$gray-09 : #788993;
$gray-10 : #363F4C;

$error      : #FF0000;
$success    : #13C225;
$info       : #027ABD;
$warning    : #DF8600;

$light      : #F6F8F7;
$dark       : #000;

$line-height-lg   :     2;
$line-height-base :   1.5;
$line-height-sm   :   1.3;
$line-height-xs   :     1;


$font-size-base       : 16px;

$font-size-xxl         : $font-size-base * 3;    // 48px (h1)
$font-size-xl          : $font-size-base * 2.5;  // 40px (h2)
$font-size-lg          : $font-size-base * 2;    // 32px (h3) 
$font-size-md          : $font-size-base * 1.5;  // 24px (title)
$font-size-sm          : $font-size-base * .875; // 14px (Badge-Date)
$font-size-xs          : $font-size-base * .75;  // 12px (small)




///// Font Imports /////
@font-face {
  font-family: "Sukhumvit Set";
  src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.eot'); /* IE9 Compat Modes */
  src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff2') format('woff2'),
      url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.woff') format('woff'),
      url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_tex-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
font-family: "Sukhumvit Set";
src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.eot'); /* IE9 Compat Modes */
src:url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff2') format('woff2'),
  url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.woff') format('woff'),
  url('https://static-dev.bugaboo.tv/fonts/tadmai/sukhumvittadmai_bol-webfont.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}

// Font stack ------------------
$brand-font: "Sukhumvit Set", "Sukhumvit Set Text", Sukhumvit,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-font: -apple-system, Thonburi, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

