@import "scss/variables";
@import "scss/mixins";
@import "scss/progressbar";

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  @include font-size(16);
  font-family: $brand-font;
  background-color: $primary-01;
  position: relative;
}
.container{
  &.-width{
    width: 100%;
    @include media-breakpoint-up(lg){
      width: 70%;
    }
    @include media-breakpoint-up(xl){
      width: 60%;
    }
  }
}
.btn{
  &.btn-winner-primary{
      color: $dark;
      background-color: $primary-02;
      border-color: $primary-02;
      border-radius: .5rem;
      &.-width{
        width: 40%;
        @include media-breakpoint-up(xl){
          width: 30%;
        }
    }
  }

}
.form-check-input{
  &.-custom{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
    background-color: transparent;
    border: 1px solid $light;
  }
}

