@import "scss/variables";
@import "scss/mixins";
@import "scss/progressbar";

*, *:after, *:before {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  @include font-size(16);
  font-family: $brand-font;
  background-color: $primary-01;
  position: relative;
}
p{
 &.paragraph{
   text-indent: 2rem;
   @include media-breakpoint-up(md){
    text-indent: 4rem;
  }
 } 
}
.h1, .h2, .h3, .badge-date, .small, .title {
  line-height: $line-height-base;
}
.h1{
  font-size: $font-size-xxl;
  @include media-breakpoint-down(md){
    font-size: $font-size-xl;
  }
}
.h2{
  font-size: $font-size-xl;
  @include media-breakpoint-down(md){
    font-size: $font-size-md;
  }
}
.h3{
  font-size: $font-size-lg;
}
.title{
  font-size: $font-size-md;
  line-height: $line-height-sm;
  @include media-breakpoint-down(lg){
    font-size: $font-size-base;
    font-weight: bold;
  }
}
.body{
  font-size: $font-size-base;
  line-height: $line-height-base;
}
.badge-date{
  font-size: $font-size-sm;
}
.small{
  font-size: $font-size-xs;
}
.font-primary{
  color: $primary-04;
}
.btn-winner-primary{
  color: $light;
  background-color: $primary-02;
  border-color: $primary-02;
  border-radius: .5rem;
  &.-width{
    width: 40%;
    @include media-breakpoint-up(xl){
      width: 30%;
    }
  }
  &:hover{
    color: $light;
    background-color: $primary-03;
    border-color: $primary-03;
  }
  &:focus{
    color: $light;
    box-shadow: 0 0 0 0.2rem rgba($primary-03, 0.5);
  }
  &.disabled{
    background-color: $gray-09;
    border-color: $gray-09;
    opacity: 1;
  }

}
.btn-winner-outline-primary {
  color: $light;
  border-color: $light;
  border-radius: .5rem;
  &.-width{
    width: 40%;
    @include media-breakpoint-up(xl){
      width: 30%;
    }
  }
  &:hover{
    color: $light;
    background-color: $primary-03;
    border-color: $primary-03;
  }
  &:focus{
    color: $light;
    box-shadow: 0 0 0 0.2rem rgba($primary-03, 0.5);
  }
  &.disabled{
    border-color: $gray-09;
    opacity: 1;
  }
}

.btn-winner-outline-secondary {
  color: $primary-02;
  border-color: $primary-02;
  border-radius: .5rem;
  &.-width{
    width: 40%;
    @include media-breakpoint-up(xl){
      width: 30%;
    }
  }
  &:focus{
    color: $primary-02;
    box-shadow: 0 0 0 0.2rem rgba($primary-03, 0.5);
  }
  &:hover{
    color: $light;
    background-color: $primary-03;
    border-color: $primary-03;
  }
  
}
.btn-winner-accent{
  color: $light;
  background-color: $accent;
  border-radius: .5rem;
  &:focus{
    color: $light;
    box-shadow: 0 0 0 0.2rem rgba($accent, 0.5);
  }
  &:hover{
    color: $light;
    background-color: darken($accent, $amount: 5);
  }
}

.radius{
  border-radius: 8px;
}

.blue{
  background-color: $primary-04;
}

.nav-tabs{
   border-bottom: 2px solid $primary-04;
  .nav-link{
    &.-bg-first{
      transition: none;
      &:hover{
        border: 1px solid transparent;
      }
      &.active{
        color: $light;
        background-color:$primary-04;
        border-color: $primary-04;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        &::after{
          content: "";
          background-image: url(https://static.ch7.com/images/thewinner_2022/border-blue.svg);
          background-repeat: no-repeat;
          position: absolute;
          right: -25px;
          bottom: 0px;
          width: 40px;
          height: 24px;
          transition: opacity 1s ease-in-out;
        }
      }
    }
    &.-bg-second{
      transition: none;
      &:hover{
        border: 1px solid transparent;
      }
      &.active{
        color: $light;
        background-color:$primary-04;
        border-color: $primary-04;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        &::after{
          content: "";
          background-image: url(https://static.ch7.com/images/thewinner_2022/border-blue-reverse.svg);
          background-repeat: no-repeat;
          position: absolute;
          left: -25px;
          bottom: 0px;
          width: 40px;
          height: 24px;
          transition: opacity 1s ease-in-out;
        }
      }
    }
  }
}

.fit-img{
  .col-md-6, .col-xl-4, .col-md-4, .col-xl-3, .col-6{
    img{
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
  }
  .col-xl-4, .col-md-6{
    img{
      width: 300px;
      height: 300px;
    }
  }
  .col-xl-3, .col-md-4{
    img{
      width: 240px;
      height: 240px;
      @include media-breakpoint-down(sm){
        width: 120px;
        height: 120px;
      }
    }
  }
}

.container-fluid, .container{
  &.-width{
    width: 100%;
    @include media-breakpoint-up(lg){
      width: 80%;
    }
    @include media-breakpoint-up(xl){
      width: 100%;
    }
  }
}

.-width{
  width: 100%;
  @include media-breakpoint-up(md){
    width: 50%;
  }
  @include media-breakpoint-up(lg){
    width: 75%;
  }
}

.header-containaer{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0;
  @include media-breakpoint-up(md){
    gap: 3rem;
  }
  // .progress-bar{
  //   width: 34%;
  //   @include media-breakpoint-up(md){
  //     width: 100px;
  //   }
  // }
  .info-header{
    width: 67%;
    @include media-breakpoint-up(xxl){
      width: auto;
    }
  }
}

.form-group{
  margin-bottom: 1.25rem;
  .text-danger{
    color: $error !important;
  }
}

.form-select{
  border-radius: 0.25rem !important;
  &:disabled{
    background-color: $gray-08;
    border: 1px solid $gray-08;
    color: $gray-03;
  }
  &.is-invalid{
    border: 2px solid $error !important;
  }
}

.form-control{
  &.is-invalid{
    border: 2px solid $error !important;
  }
  &.-otp-number{
    width: 60px;
    height: 80px;
    @include font-size(48);
    font-weight: bold;
    &.is-invalid{
      padding: inherit;
      background-image: none;
    }

  }
  &:disabled{
    background-color: $gray-08;
    border: 1px solid $gray-08;
    color: $gray-04;
  }
  &.-date-input{
    display: inline-flex;
  }
}

.form-check-input{
  &.-custom{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0;
    background-color: transparent;
    border: 1px solid #F6F8F7;
  }
}

.position-relative{
  &.is-invalid{
    border: 2px dashed $error;
  }
}

.phone-forgot-content{
  .form-control{
    @include media-breakpoint-up(md){
      width: 70%;
    }
  }
  .text-danger{
    display: block;
    @include media-breakpoint-up(md){
      width: 70%;
    }
  }
}
.invalid-feedback{
  color: $error;
}
.ratio{
  img{
    &.img-fit{
      object-fit: cover;
      object-position: center;
      overflow: hidden;
    }
  }
  &.ratio-16x9{
    &::before{
      background-color: transparent;
      width: 100%;
    }
  }
  &.ratio-3x4{
    --bs-aspect-ratio: calc(4 / 3 * 100%);
    -webkit-appearance: none;
    &.-icon{
      &::after{
        content: "";
        background: url(https://static.ch7.com/images/thewinner_2022/add-image.svg);
        width: 42px;
        height: 42px;
        bottom: -10px;
        right: -10px;
        position: absolute;
        z-index: 1;
      }
    }
  }
  &.-preview{
    border: none;
  }
  
}
.ratio-upload{
  border: 1px dashed $light;
  border-radius: 0.5rem;
  position: relative;
  &.-success{
    border: none;
  }
  &.is-invalid{
    border: 1px dashed $error;
  }
  &.-video {
    video{
      width: 100%;
      height: auto;
    }
  }
}

.upload-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .input-browse{
    position: absolute;
    opacity: 0;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  &.-success{
    .img-item{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .icon-width{
      display: none;
    }
    .title{
      display: none;
    }
    .sub-title{
      display: none;
    }
    .input-browse{
      display: none;
    }
  }
}
.upload-state-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0.5rem 0 0;
  padding: 0;
  width: 100%;
  .btn-cancel{
    display: none;
  }
  .btn-delete{
    display: none;
  }
  .name-file{
    small{
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      max-height: 1.5rem;
    }
  }
  &.-img{
    justify-content: center;
    .img-file{
      display: none;
    }
    .name-file{
      display: none;
    }
    .progress-container{
      width: 10rem;
    }
  }
  &.-video{
    .control-left{
      display: flex;
      align-items: center;
    }
    .control-right{
      display: flex;
      align-items: center;
    }
    .img-file{
      display: block;
    }
    .name-file{
      max-width: 7rem;
    }
  }
  &.-loading{
    .btn-cancel{
      display: block;
    }
  }
  &.-success{
    .progress-container{
      .info-progress{
        display: none;
      }
    }
    .progress{
      display: none;
    }
    .btn-delete{
      display: block;
    }
  }
}

.icon-width{
  width: 24px;
  z-index: 1;
  @include media-breakpoint-up(md){
    width: calc(24px + 2vw);
    height: auto;
  }
}
.img-width{
  width: 50%;
  @include media-breakpoint-up(md){
    width: 25%;
  }
}
.icon-color{
  filter: brightness(0) saturate(100%) invert(100%) sepia(95%) saturate(0%) hue-rotate(194deg) brightness(106%) contrast(104%);
}
// .border{
//   &.-radius{
//     border-radius: .5rem;
//     border-style: dashed!important;
//   }
// }
.btn-bottom-container{
  margin-top: 3rem;
  .bg-color{
    background-color: $primary-01;
    @include media-breakpoint-up(xl){
     background-color: transparent;
    }
    &.position-button{
      position: fixed;
      right: 0;
      bottom: -1px;
      left: 0;
      z-index: 1030;
      padding-left: 1rem;
      padding-right: 1rem;
      @include media-breakpoint-up(md){
        padding-left: 2rem;
        padding-right: 2rem;
      }
      @include media-breakpoint-up(lg){
        padding-left: 7rem;
        padding-right: 7rem;
      }
      @include media-breakpoint-up(xl){
        position: inherit;
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
    
  }
}
.bg-image{
  background-image: url(https://static.ch7.com/images/thewinner_2022/the-winner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  @include media-breakpoint-down(xl){
    display: none;
   }
}
.bg-hilight{
  background-image: url(https://static.ch7.com/images/thewinner_2022/bg-hilight.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.radius{
  border-radius: .5rem;
}

.link-color{
  color: $secondary;
}

.progress-container{
  margin: 0 0.75rem;
  text-align: center;
    .progress{
      &.-upload{
        height: 0.35rem;
      }
    }
}
// .bg-transparent{
//   background-color: transparent;
// }

// .filter-white{
//   filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(32%) hue-rotate(151deg) brightness(107%) contrast(107%);
// }
.bg-dark{
  &.-custom{
   background-color: rgba($gray-10, 0.2)!important;
  }
  &.-blur{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.group-info{
  color: $secondary-02;
  border-left: 3px solid $secondary-02;
  background-color: rgba($secondary-02, 0.1);
}

.border-gradient {
  position: relative;
  background: $primary-01;
  background-clip: padding-box;
  border: 5px solid transparent;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(166deg, #2A749E 0%, rgba(143, 228, 255, 0.94) 44.36%, #002EA5 100%);
  }
}

